// SPDX-License-Identifier: GPL-2.0-or-later OR MIT

#include "qcom-ipq4018-ap120c-ac.dtsi"

/ {
	model = "ALFA Network AP120C-AC Bit";

	leds {
		compatible = "gpio-leds";

		power {
			label = "ap120c-ac:green:power";
			gpios = <&tlmm 5 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		lan {
			label = "ap120c-ac:green:lan";
			gpios = <&ethphy4 1 GPIO_ACTIVE_HIGH>;
		};

		wan {
			label = "ap120c-ac:green:wan";
			gpios = <&ethphy3 1 GPIO_ACTIVE_HIGH>;
		};

		wlan {
			label = "ap120c-ac:green:wlan";
			gpios = <&tlmm 3 GPIO_ACTIVE_HIGH>;
		};

		support {
			label = "ap120c-ac:green:support";
			gpios = <&tlmm 2 GPIO_ACTIVE_HIGH>;
			panic-indicator;
		};
	};
};

&blsp1_spi1 {
	nand@1 {
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "ubi1";
				reg = <0x00000000 0x10000000>;
			};

			partition@10000000 {
				label = "ubi2";
				reg = <0x10000000 0x10000000>;
			};
		};
	};
};
